*,
*::before,
*::after {
  box-sizing: border-box;
}

.terminal-container {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(180, 50%, 50%), hsl(200, 50%, 50%));
  }